.btnWrapper{
    border-radius: var(--radius);
    position: relative;
    /* border: 3px solid var(--gray); */
}
.btnWrapper.green{background: var(--greenDark);}
.btnWrapper.green button{background: var(--green);}
.btnWrapper.green button::after{background: var(--greenLight);}
.btnWrapper.blue{background: var(--blueDark);}
.btnWrapper.blue button{background: var(--blue);}
.btnWrapper.blue button::after{background: var(--blueLight);}
.btnWrapper.yellow{background: var(--yellowDark);}
.btnWrapper.yellow button{background: var(--yellow);}
.btnWrapper.yellow button::after{background: var(--yellowLight);}
.btnWrapper.red{background: var(--redDark);}
.btnWrapper.red button{background: var(--red);}
.btnWrapper.red button::after{background: var(--redLight);}

.btnWrapper button{
    position: relative; top:-6px;
    border: none; outline: none;
    padding: 0.2rem 0.8rem;
    height: 100%; width: 100%;
    min-width: calc(2.5rem + 0.8vw);
    display: flex; align-items: center; justify-content: center;
    cursor: pointer; 
    font-weight: 900;
    color: var(--white);
    border-radius: calc(var(--radius) - 3px);
    transform: translateY(0rem);
    transition: transform 0.1s ease;
    box-shadow: 3px 3px 4px -4px var(--white) inset, -3px 3px 4px -4px var(--white) inset;
}
.btnWrapper button::after{
    content: '';
    position: absolute;
    top: 4px; left: 4px;
    height: 50%;
    width: calc(100% - 8px);
    border-radius: calc(var(--radius) - 5px);
    z-index: -1;
    transition: height 0.1s ease;
}
.btnWrapper button::before{
    content: '';
    position: absolute;
    top: 5px; right: 5px;
    width: 8px; height: 6px;
    border-radius: 3px 5px;
    background: var(--white);
    opacity: 0.4;
    z-index: 1;
    transition: width 0.1s ease;
}
.btnWrapper:hover button{transform: translateY(-2px);}
.btnWrapper button:active{transform: translateY(6px);box-shadow: 1px 1px 4px -4px var(--white) inset, -1px 1px 4px -4px var(--white) inset;}
.btnWrapper button:active::after{height: calc(100% - 8px);}
.btnWrapper button:active::before{width:0px;}
.svgBackground{ background: radial-gradient(ellipse at center, rgba(255,255,255,0.3)  0%,rgba(0,0,0,0.6) 100%), url('/src/assets/rhombus.svg') repeat 10px 10px;}

.board{
    display: flex ;
    flex-wrap: wrap;
    aspect-ratio: 1/1 !important;
    gap: 2px;
    color: var(--white);
    transition: all 0.2s;
}
.board .tile{
    width: calc(10% - 2px);
    height: calc(10% - 2px);
    border-radius: 4px;
    transition: transform 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -1px;
}
.board .tile::before{
    content: "";
    position: absolute;
    top: 3px;
    height: 36%;
    background: linear-gradient(#fff1 0%, #0000 100%);
    width: calc(100% - 6px);
    border-radius: 10%;
}
.board .tile.enemy:hover{opacity: 0.85;}
.board .tile.enemy:hover::before{
    background: transparent;
}
.boardNav .iconWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
}
.boardNav .iconWrapper.active{ animation: timer 10s linear;}
.boardNav .icon {   
    position: absolute;
    color: var(--white);
    background-color: #38f5;
    height: 79%;
    padding-top: 7px;
    aspect-ratio: 1/1;
    border-radius: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0.5px var(--gray);
}
.boardNav #timerBar {
    transform: rotateZ(-0deg) rotateY(180deg);
    border-radius: 24%;
}
.boardNav #timerBar rect {
    stroke-dasharray: 135;
    stroke-dashoffset: 135;
    stroke-linecap: round;
    stroke-width: 5px;
    stroke: green;
    fill: none;
    animation: countdown 10.1s linear infinite forwards;
}
@keyframes countdown {from {stroke-dashoffset: 135;} to {stroke-dashoffset: 0;}}

.messageBar{
    position: absolute;
    top: 115%; right: 0;
    background: var(--white);
    max-width: 400px;
    display: inline-block;

    z-index: 1;
    display: flex;
    padding: 1rem 0.8rem 0.8rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--radius) + 6px);
    box-shadow: 0 1px 2px 1px var(--gray);
}
.messageBar h4{
    white-space: break-spaces;
    width: 100%;
    inset: 0;
    color: var(--black) !important;
}
.messageBar::after{
    content: '';
    position: absolute;
    top: -5px; right: calc(1.6rem + 1.2vw);
    width: 10px; height: 10px;
    transform: rotate(45deg);
    background: var(--white);
}
input[type="text"]{
    width: 100%;
    height: 100%;
    padding: 0.25rem 0.6rem;
    border-radius: 6px;
    background: var(--bg);
    color: var(--text);
    box-shadow: 0 0 0 2px var(--gray);
}
input:focus{
    outline: none;
}

.showdown{
    position: fixed;
    display: relative;
    top: 30vh; left: 0;
    width: 100vw; height: 50vh;
    z-index: 100;
    display: flex;
    align-items: center;
    animation: showdown 4s steps(1) forwards;
}

.showdown .left{
    background-color : blue;
    transform: translateX(-100vw);
    animation: showLeft 3.5s 0.2s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
}
.showdown .right{
    background-color : red;
    transform: translateX(100vw);
    animation: showRight 3.5s 0.2s ease-in-out;
}

@keyframes showLeft {
    10%, 90% { transform: translateX(0vw)}
    100% {transform: translateX(-100vw)}
}

@keyframes showRight {
    10%, 90% {transform: translateX(0vw)}
    100% {transform: translateX(100vw)}
}

@keyframes showdown {
    0% {z-index: 100}
    100% {z-index: -1}
}

@media not all and (min-width: 640px){
    .board{ 
        width: min(40vh,90vw); 
        height: min(40vh,90vw);
    }
    .boardNav{ width: min(40vh,90vw); }
    .board .tile{ border-radius: 2px; }
}

/* // for screens wider than 640px */
@media (min-width: 640px) { 
    .board { 
        width: min(58vh, 100%);
        aspect-ratio: 1/1 !important; 
    } 
} 

